{:db/patients {:type :sql
               :config {:dbtype "postgres"
                        :dbname "patience"
                        :user "postgres"
                        :password "postgres"
                        :host "postgres"}}
 :ring/handler {:patients #ig/ref :db/patients
                :serve-static? true}
 :jetty/server {:ring-handler #ig/ref :ring/handler
                :host "0.0.0.0"
                :port 80}}
